<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Maven/CA4_EPAM">
        <classes>
            <class name="org.example.CA4_TEst">
                <methods>
                    <include name="dropdown"/>
                    <include name="CheckBoxTest"/>
                    <include name="RadioBttnTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>